*{
    margin: 0;
    padding: 0;
}

.component1 {
    background-color: tomato;

  }
  .component2 {
    background-color: teal;

  }
  .component3 {
    background-color: skyblue;

  }
  .component4 {
    background-color: gold;

  }
  #container {
    background-color: gainsboro;
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    /* grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr; */
  }
  
  #container > div {
  
  }
  